version: 1.0.{build}
image: Visual Studio 2022

configuration: Release

init:
  - git config --global core.autocrlf false

before_build:
  - dotnet restore src/TypeGen/TypeGen.Cli
  - dotnet restore src/TypeGen/TypeGen.Core
  - dotnet restore src/TypeGen/TypeGen.Cli.Test
  - dotnet restore src/TypeGen/TypeGen.Core.Test
  - dotnet restore src/TypeGen/TypeGen.IntegrationTest
  - dotnet restore src/TypeGen/TypeGen.TestWebApp

build:
  project: src/TypeGen/TypeGen.sln
